@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body{
    width: 1920px;
    height: 963px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EAE8FE;
}
header{
flex-grow: 1;
}
h1 .logoimg{
    width: 386px;
    height: 180px;
}
main{
flex-grow: 3;
display: grid;
grid-template-columns: repeat(2, minmax(360px, auto));
column-gap: 28px;
grid-template-rows: 50px 475px;
row-gap: 20px;
}
/* main부분 css */
main .vanding_sec{
background-color: #fff;
padding: 30px 27px;
grid-column: 1/2;
grid-row: 1/3;
display: flex;
flex-direction: column;
}
main .vanding_sec .menu{
flex-grow: 1;
display: grid;
grid-template-columns: repeat(3, minmax(94px, auto));
column-gap: 12px;
grid-template-rows: repeat(2, minmax(130px, auto));
row-gap: 12px;
align-items: center;
}
main .vanding_sec .menu .menu_item .menu_button{
width: 94px;
height: 130px;
box-sizing: border-box;
border: 1px solid #FFF;
border-radius: 10px;
background-color: #FFF;
box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: space-evenly;
flex-direction: column;
align-items: center;
}
main .vanding_sec .menu .menu_item .menu_button:active{
    border: 3px solid #6327FE;
    box-sizing: border-box;
    border-radius: 10px;
}
main .vanding_sec .menu .menu_item .cola_img{
    width: 36px;
    height: 65px;
}
main .vanding_sec .menu .menu_item .cola_name{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;
}
main .vanding_sec .menu .menu_item .price{
    background: #6327FE;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    border-radius: 50px;
    border-style: none;
    padding: 5px 15px;
}
/* vanding_area */
main .vanding_sec .vending_area{
    display: grid;
    grid-template-columns: 200px 94px;
    column-gap: 12px;
    grid-template-rows: 33px 33px 106px; 
    row-gap: 11px;
    align-items: center;
}
main .vanding_sec .vending_area .balance_dis{
    width: 200px;
    height: 33px;
    box-sizing: border-box;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    background: #EAE8FE;
    border-radius: 5px;
    padding: 6px 10px;
}
main .vanding_sec .vending_area .return_change{
    width: 94px;
    height: 32px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-style: none;
    background-color:#FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
main .vanding_sec .vending_area .eposit_money_dis{
    width: 200px;
    height: 33px;
    box-sizing: border-box;
    border-style: none;
    background: #FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 6px;
}
.eposit_money_dis::placeholder{
    color: #BDBDBD;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    opacity: 0.8;
}
main .vanding_sec .vending_area .deposit{
    width: 94px;
    height: 32px;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-style: none;
    background-color:#FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
main .vanding_sec .vending_area .cart_dis{
    width: 200px;
    height: 106px;
    border-style: none;
    background-color:#FFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}
main .vanding_sec .vending_area .cart_dis img{
    width: 18px;
    height: 33px;
}
main .vanding_sec .vending_area .get_cola{
    width: 94px;
    height: 106px;
    color: #FFF;
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 19px;
    border-style: none;
    background: #6327FE;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

/* mymoney_sec */
main .mymoney_sec{
background-color: #fff;
padding: 9px 27px;
grid-column: 2/3;
grid-row: 1/2;
}

main .mycola_sec{
background-color: #fff;
padding: 25px 27px;
grid-column: 2/3;
grid-row: 2/3;
}